@model TiendaApp.Models.Producto

<h2>Editar Producto</h2>

<input asp-for="Id" type="hidden" />

<form asp-action="Edit">

    <div class="mb-3">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control"/>
    </div>

    <div class="mb-3">
        <label asp-for="FechaVencimiento"></label>
        <input asp-for="FechaVencimiento" type="date" class="form-control"/>
    </div>

    <button class="btn btn-success">Guardar</button>

    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>