@{
    ViewData["Title"] = "Promociones";
}

<h2>Promociones del Mes</h2>

<h4>@ViewData["Message"]</h4>

<p>
Bienvenido a la sección de ofertas especiales de La Económica.
</p>

<a asp-action="Index" class="btn btn-primary">
Volver
</a>